/*Toast*/
.toast {
  visibility: hidden;
  min-width: 220px;
  background-color: #467f64;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}